<h1>Listing api_v1_widgets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_v1_widgets.each do |api_v1_widget| %>
  <tr>
    <td><%= link_to 'Show', api_v1_widget %></td>
    <td><%= link_to 'Edit', edit_api_v1_widget_path(api_v1_widget) %></td>
    <td><%= link_to 'Destroy', api_v1_widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Widget', new_api_v1_widget_path %>
